html {
    background-color: rgb(102, 85, 63);
}

main {
    margin-left: 30px;
    margin-right: 30px;

}

.div-containers {
    border-width: 5px;
    border-color: rgb(165, 133, 92);
    border-style: solid;
    background-color: rgb(177, 136, 83);
    margin-top: 50px;
    margin-bottom: 50px;
}

.character-div {
    display:flex;
    flex-direction: row;
    column-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.shop-div {
    display:flex;
    flex-direction: row;
    column-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}


.inventory-div {
    display:flex;
    flex-direction: row;
    column-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.div-labels {
    font-size: 30px;
    margin-left: 50px;
}

.created-item-div {
    border-width: 5px;
    border-color: rgb(231, 186, 128);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(231, 186, 128);
    padding: 10px;
}

.inventory-item-div {
    border-width: 5px;
    border-color: rgb(231, 186, 128);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(231, 186, 128);
    padding: 10px;
}